In [14]:
import pandas as pd
import numpy as np
import sklearn 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer

In [9]:
df = pd.read_csv('titanic.csv')

In [10]:
df_int = df

جایگذاری با مقدار صحیح

In [11]:
df_int["Sex"].replace('female',0, inplace=True)
df_int["Sex"].replace('male',1, inplace=True)

In [12]:
df_int

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0,3,Mr. Owen Harris Braund,1,22.0,1,0,7.2500
1,1,1,Mrs. John Bradley (Florence Briggs Thayer) Cum...,0,38.0,1,0,71.2833
2,1,3,Miss. Laina Heikkinen,0,26.0,0,0,7.9250
3,1,1,Mrs. Jacques Heath (Lily May Peel) Futrelle,0,35.0,1,0,53.1000
4,0,3,Mr. William Henry Allen,1,35.0,0,0,8.0500
...,...,...,...,...,...,...,...,...
882,0,2,Rev. Juozas Montvila,1,27.0,0,0,13.0000
883,1,1,Miss. Margaret Edith Graham,0,19.0,0,0,30.0000
884,0,3,Miss. Catherine Helen Johnston,0,7.0,1,2,23.4500
885,1,1,Mr. Karl Howell Behr,1,26.0,0,0,30.0000
886,0,3,Mr. Patrick Dooley,1,32.0,0,0,7.7500

In [16]:
df_int.shape

(887, 8)

One-hot encoding

In [15]:
list_of_features_string = ['Sex']

transformer = make_column_transformer(
    (OneHotEncoder(), list_of_features_string),
    remainder='passthrough')

transformer_one_hot = transformer.fit_transform(df)
transformer_one_hot_df = pd.DataFrame(transformer_one_hot, columns=transformer.get_feature_names())
transformer_one_hot_df.shape

/home/parham/anaconda3/lib/python3.9/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

(887, 9)